.titulo {
    font-size: 35px;
    color:	#ffba00;
    text-align: center;
}

.texto{
    font-size: 22px;
    color: white;
    text-align: center;
}

body{
    background-image: url(fundo.png);
}

.e-mail{
    text-align: right;
    color: #53c3c5
}

.imagens{
    size: 20px;
}

.textoAdobe{
 
}